.vscode
.groovylintrc.json
dist
node_modules
package-lock.json
npm-debug.log
yarn-error.log
.env
cypress/screenshots/
cypress/videos/
cypress/cucumber-json/
cypress/report
cypress/.run
cypress/config/cadreon.js